# Pertemuan 1

- Input, output & comment 
- Variable, data type & caseting

### 1. Print

In [ ]:
print("Hello World")

In [ ]:
print(10.4)

In [ ]:
print(1000)

In [ ]:
print(10 + 12)

In [ ]:
print(10.4 + 10)

In [ ]:
print(True)

In [ ]:
print("Hello " + "world")

In [ ]:
print("Hello" + 20)

#### 1.a Print dengan string formatting


- `%` old method, 
- `%s` formating string, 
- `%.2f` formating float 2 digit decimal, 
- `%d` formating integer

In [ ]:
print("nilai " + str(10))

In [ ]:
print("nilai %d adalah integer" % 100)

In [ ]:
print("jumlah %d dengan %d adalah %d" % (1, 5, 6))

In [ ]:
print("jumlah " + str(1) + " dengan " + str(2) + " adalah " + str(3))

In [ ]:
print("nilai float : %.2f" % 32.012)

#### 1.b print pemisah koma (`,`)

In [ ]:
print("nilai ", 2 + 3, " adalah bilangan ganjil")

In [ ]:
print("hello", 13.45, "123 text")

### 2. Kometar
- pada python menggunakan tanga `#` atau `"""` untuk multiple comment

In [ ]:
# ini program print , merupakan contoh single comment
# ini comment ke 2
print ("Hello World") # ini adalah komentar

In [ ]:
"""
Multiple
Comment
in Python
.
.
ini comment lagi...
.

"""
print ("Hello World")

In [ ]:
# multiple
# comment
# menggunakan #

print("Hello World")

### 3. Variable
- Dapat diawali huruf atau `_` (underscore)
- Variable type di Python bersifat dinamis

In [ ]:
_umur = 20

In [ ]:
type(_umur)

In [ ]:
_umur = '20'

In [ ]:
type(_umur)

In [ ]:
_umur = False

In [ ]:
type(_umur)

In [ ]:
_umur = 20.5

In [ ]:
type(_umur)

#### 3.a Casting variable atau type conversion
```
int() untuk mengubah menjadi integer;
long() untuk mengubah menjadi integer panjang;
float() untuk mengubah menjadi float;
bool() untuk mengubah menjadi boolean;
chr() untuk mengubah menjadi karakter;
str() untuk mengubah menjadi string.
bin() untuk mengubah menjadi bilangan Biner.
hex() untuk mengubah menjadi bilangan Heksadesimal.
oct() untuk mengubah menjadi bilangan okta.
```

In [ ]:
_umur = 30

In [ ]:
_umur

In [ ]:
type(_umur)

In [ ]:
_umur = str(_umur)

In [ ]:
type(_umur)

In [ ]:
_umur

In [ ]:
_umur = float(_umur)

In [ ]:
_umur

## 4. Fungsi Input

In [ ]:
value = input()

In [ ]:
umur = input("Umur :")

In [ ]:
umur = input("Umur :")

type(umur)

In [ ]:
umur = input("Umur :")

umur = int(umur)

print("Umur saya adalah %d tahun" % umur)

- multiple input

In [ ]:
nama = input("Nama :")
umur = input("Umur :")

umur = int(umur)


print("Nama saya %s, umur %d tahun" % (nama, umur))

___
### Task

Buat program python yang akan mencetak,


```
Nama      : John Doe
Umur      : 41
Pekerjaan : Pegawai Swasta
Alamat    : Jakarta
Nama saya John Doe, umur 41 tahun, pekerjaan Pegawai swasta dan tinggal di Jakarta.
```