# Pertemuan 1

- Input, output & comment 
- Variable, data type & caseting

### 1. Print

In [2]:
print("Hello World")

Hello World

In [3]:
print(10.4)

10.4

In [4]:
print(1000)

1000

In [5]:
print(10 + 12)

22

In [6]:
print(10.4 + 10)

20.4

In [10]:
print(True)

True

In [12]:
print("Hello " + "world" + " Indonesia")

Hello world Indonesia

In [13]:
print("Hello" + 20)

TypeError: can only concatenate str (not "int") to str

In [14]:
print("Hello " - "world" )

TypeError: unsupported operand type(s) for -: 'str' and 'str'

#### 1.a Print dengan string formatting


- `%` old method, 
- `%s` formating string, 
- `%.2f` formating float 2 digit decimal, 
- `%d` formating integer

In [15]:
print("nilai " + str(10))

nilai 10

In [19]:
print("nilai %d adalah integer" % 200)

nilai 200 adalah integer

In [25]:
print("jumlah %d dengan %d adalah %d, %s" % (2, 3, 5, "indonesia"))

jumlah 2 dengan 3 adalah 5, indonesia

In [22]:
print("jumlah " + str(1) + " dengan " + str(2) + " adalah " + str(3))

jumlah 1 dengan 2 adalah 3

In [26]:
print("nilai float : %.2f" % 32.012)

nilai float : 32.01

#### 1.b print pemisah koma (`,`)

In [28]:
print("nilai", 2 + 3, "adalah bilangan ganjil")

nilai 5 adalah bilangan ganjil

In [29]:
print("hello", 13.45, "123 text")

hello 13.45 123 text

### 2. Kometar
- pada python menggunakan tanga `#` atau `"""` untuk multiple comment

In [30]:
# ini program print , merupakan contoh single comment
# ini comment ke 2
print ("Hello World") # ini adalah komentar

Hello World

In [31]:
"""
Multiple
Comment
in Python
.
.
ini comment lagi...
.

"""
print ("Hello World")

Hello World

In [32]:
# multiple
# comment
# menggunakan #
#
#
#
print("Hello World")

Hello World

### 3. Variable
- Dapat diawali huruf atau `_` (underscore)
- Variable type di Python bersifat dinamis

In [39]:
_umur = 20

In [40]:
type(_umur)

int

In [41]:
_umur = '20'

In [42]:
type(_umur)

str

In [43]:
_umur = False

In [44]:
type(_umur)

bool

In [45]:
_umur = 20.5

In [46]:
type(_umur)

float

#### 3.a Casting variable atau type conversion
```
int() untuk mengubah menjadi integer;
long() untuk mengubah menjadi integer panjang;
float() untuk mengubah menjadi float;
bool() untuk mengubah menjadi boolean;
chr() untuk mengubah menjadi karakter;
str() untuk mengubah menjadi string.
bin() untuk mengubah menjadi bilangan Biner.
hex() untuk mengubah menjadi bilangan Heksadesimal.
oct() untuk mengubah menjadi bilangan okta.
```

In [47]:
_umur = 30

In [48]:
print(_umur)

30

In [49]:
type(_umur)

int

In [50]:
_umur = str(_umur)

In [51]:
type(_umur)

str

In [52]:
print(_umur)

30

In [53]:
_umur = float(_umur)

In [54]:
_umur

30.0

In [55]:
_umur = int(_umur)

In [56]:
_umur

30

## 4. Fungsi Input

In [62]:
value = input()

 hh

In [61]:
print(value)

hallo 123

In [64]:
umur = input("Umur :")

Umur : Hello World

In [65]:
umur = input("Umur :")

type(umur)

Umur : 30

str

In [66]:
umur = input("Umur :")

umur = int(umur)

print("Umur saya adalah %d tahun" % umur)

Umur : 29

Umur saya adalah 29 tahun

- multiple input

In [67]:
nama = input("Nama :")
umur = input("Umur :")

umur = int(umur)


print("Nama saya %s, umur %d tahun" % (nama, umur))

Nama : Yunus
Umur : 29

Nama saya Yunus, umur 29 tahun

___
### Task

Buat program python yang akan mencetak,


```
Nama      : John Doe
Umur      : 41
Pekerjaan : Pegawai Swasta
Alamat    : Jakarta
Nama saya John Doe, umur 41 tahun, pekerjaan Pegawai swasta dan tinggal di Jakarta.
```

In [68]:
nama = input("Nama :")
umur = input("Umur :")
pekerjaan = input("Pekerjaan :")
alamat = input("Alamat :")
umur = int(umur)


print("Nama saya %s, umur %d tahun, pekerjaan %s dan tinggal di %s." % (nama, umur, pekerjaan, alamat))

Nama : John Doe
Umur : 41
Pekerjaan : Pegawai Swasta
Alamat : Jakarta

Nama saya John Doe, umur 41 tahun, pekerjaan Pegawai Swasta swasta dan tinggal di Jakarta.