# Basic Python Programming - Part 1

- Input, output & comment 
- Variable, data type & caseting 
- Arithmetic operators 
- Assignment operators 
- Comparison operators 
- Logical operators 
- If , elif, & else 
- while loops 
- for loops

### 1. Print

In [2]:
print("Hello World")

Hello World

In [3]:
print(10.4)

10.4

In [4]:
print(1000)

1000

#### 1.a Print dengan string formatting


- `%` old method, 
- `%s` formating string, 
- `%.2f` formating float 2 digit decimal, 
- `%d` formating integer

In [9]:
print("nilai " + str(10))

nilai 10

In [11]:
print("nilai %d adalah integer" % 100)

nilai 100 adalah integer

In [14]:
print("jumlah %d dengan %d adalah %d" % (1, 5, 6))

jumlah 1 dengan 5 adalah 6

In [15]:
print("jumlah " + str(1) + " dengan " + str(2) + " adalah " + str(3))

jumlah 1 dengan 2 adalah 3

In [ ]:
print("nilai float : %.2f" % 32.012)

#### 1.b print pemisah koma (`,`)

In [16]:
print("nilai ", 2 + 3, " adalah bilangan ganjil")

nilai  5  adalah bilangan ganjil

In [17]:
print("hello", 13.45, "123 text")

hello 13.45 123 text

### 2. Kometar
- pada python menggunakan tanga `#` atau `"""` untuk multiple comment

In [18]:
# ini program print , merupakan contoh single comment
# ini comment ke 2
print ("Helo World") # ini adalah komentar

"""
Multiple
Comment
in Python
.
.
ini comment lagi...
.

"""

# multiple
# comment
# menggunakan #

print("Hello World 2")

Helo World
Hello World 2

### 3. Variable
- Dapat diawali huruf atau `_` (underscore)

In [19]:
_umur = 20

In [23]:
type(_umur)

int

In [24]:
_umur = '20'

In [25]:
type(_umur)

str

In [26]:
_umur = False

In [27]:
type(_umur)

bool

#### 3.a Casting variable atau type conversion
```
int() untuk mengubah menjadi integer;
long() untuk mengubah menjadi integer panjang;
float() untuk mengubah menjadi float;
bool() untuk mengubah menjadi boolean;
chr() untuk mengubah menjadi karakter;
str() untuk mengubah menjadi string.
bin() untuk mengubah menjadi bilangan Biner.
hex() untuk mengubah menjadi bilangan Heksadesimal.
oct() untuk mengubah menjadi bilangan okta.
```

In [33]:
_umur = 30

In [34]:
_umur

30

In [35]:
type(_umur)

int

In [36]:
_umur = str(_umur)

In [37]:
type(_umur)

str

In [38]:
_umur

'30'

In [39]:
_umur = float(_umur)

In [40]:
_umur

30.0

### 4. Operator Aritmatika

```
+ untuk operator penjumlahan
- untuk operator pengurangan
/ untuk operator pembagian
* untuk operator perkalian
% untuk operator modulo (hasil sisa pembagian)
** untuk operator pangkat
```

In [56]:
# Ambil input untuk mengisi nilai
a = 9
b = 11

# Menggunakan operator penjumlahan
c = a + b
print ("Hasil %d + %d = %d" % (a,b,c))

Hasil 9 + 11 = 20

In [57]:
# Operator Pengurangan
c = a - b
print ("Hasil %d - %d = %d" % (a,b,c))

Hasil 9 - 11 = -2

In [58]:
# Operator Perkalian
c = a * b
print ("Hasil %d * %d = %d" % (a,b,c))

Hasil 9 * 11 = 99

In [60]:
# Operator Pembagian
c = a / b
print ("Hasil %d / %d = %.2f" % (a,b,c))

Hasil 9 / 11 = 0.82

In [61]:
c = a / b
print ("Hasil %d / %d = %.3f" % (a,b,c))

Hasil 9 / 11 = 0.818

In [62]:
# Operator Sisa Bagi
c = a % b
print ("Hasil %d %% %d = %d" % (a,b,c))

Hasil 9 % 11 = 9

In [65]:
# Operator Pangkat
c = a ** b
print ("Hasil %d ** %d = %d" % (a,b,c))

Hasil 9 ** 11 = 31381059609

### 5. Operator Penugasan

```
a = 1 operator penugasan mengisi nilai
a +=1 operator penugasan menambahkan 1 ke variable a
a -=1 operator penugasan mengurangkan 1 ke variable a
a *=2 operator penugasan mengalikan 2 ke variable a
a /= 2 operator penugasan membagikan 2 ke variable a
```

In [76]:
a = 8
print("nilai awal \t", a)

nilai awal 	 8

In [77]:
a += 1
print("ditambah 1 \n", a)

ditambah 1
 9

In [78]:
a *= 2 
print("dikali 2 \t", a)

dikali 2 	 18

In [79]:
a -= 5    
print("dikurang 5 \t", a)

dikurang 5 	 13

In [80]:
a /= 2   
print("dibagi 2 \t", a)

dibagi 2 	 6.5

In [81]:
b = 31.5

b += 0.5

print(b)

32.0

#### 6.a penugasan string

In [86]:
word = "Python"

word += " Programming"

print(word)

Python Programming

### 7. Operator Pembanding
```
== operator pembanding "sama dengan", a == b
!= operator pembanding "tidak sama dengan", a != b
< operator pembanding "lebih kecil dari", a < b
> operator pembanding "lebih besar dari", a > b
<= operator pembanding "lebih kecil dari sama dengan", a <= b
>= operator pembanding "lebih besar dari sama dengan", a >= b
```

In [88]:
a = 70
b = 70

# apakah a sama dengan b?
c = a == b
print ("Apakah %d == %d: %r" % (a,b,c))

Apakah 70 == 70: True

In [90]:
a = 70
b = 90

# apakah a < b?
c = a < b
print ("Apakah %d < %d: %r" % (a,b,c))

Apakah 70 < 90: True

In [92]:
a = 70
b = 50

# apakah a > b?
c = a > b
print ("Apakah %d > %d: %r" % (a,b,c))

Apakah 70 > 50: True

In [100]:
a = 60
b = 70

# apakah a <= b?
c = a <= b
print ("Apakah %d <= %d: %r" % (a,b,c))

Apakah 60 <= 70: True

In [96]:
a = 70
b = 50

# apakah a >= b?
c = a >= b
print ("Apakah %d >= %d: %r" % (a,b,c))

Apakah 70 >= 50: True

In [98]:
a = 70
b = 70

# apakah a != b?
c = a != b
print ("Apakah %d != %d: %r" % (a,b,c))

Apakah 70 != 70: False

### 8. Operator Logika

- Logika AND

| AND   | True  | False |
|-------|-------|-------|
| True  | True  | False |
| False | False | False |

- Logika OR

|  OR   | True  | False |
|-------|-------|-------|
| True  | True  | True  |
| False | True  | False |

- Logika Not

|       | NOT   |
|-------|-------|
| True  | False |
| False | True  |

In [106]:
a = True
b = True

In [107]:
# Logika AND
c = a and b   

print ("%r and %r = %r" % (a,b,c))

True and True = True

In [110]:
a = False
b = False

# Logika OR
c = a or b
print ("%r or %r = %r" % (a,b,c))

False or False = False

In [111]:
# Logika Not
c = not a  

print ("not %r  = %r" % (b,c))

not False  = True

In [116]:
suhu = 30

c = suhu >= 30 and suhu < 35 and suhu%10 == 0

print(c)

True

### 9. Fungsi  `Input()`

In [117]:
var = input("masukan angka :")

print(var)

masukan angka : hello world

hello world

In [118]:
type(var)

str

In [119]:
var = input("masukan angka :")

output = 2 + int(var)
print("hasil : %d" % output)

masukan angka : 5

hasil : 7

In [120]:
var1 = input("masukan angka pertama :")
var2 = input("masukan angka kedua :")

output = int(var2) + int(var1)
print("hasil : %d" % output)

masukan angka pertama : 4
masukan angka kedua : 10

hasil : 14

### 10. Percabangan (If, elif, else)

struktur percabangan pada python :

```
if statement_1 :
    tugas_1
elif statement_2 :
    tugas_2
else :
    tugas_3
    
if (statement){
                task1;
           task2;
}

```

- Struktur If

In [123]:
nilai = int(input("Input nilai: "))

if nilai < 70:
    print("Nilai dibawah KKM : %d" % nilai)

Input nilai:  75

In [129]:
umur = int(input("Input Umur : "))

if umur < 30 and umur > 25:
    print("Umur %d memenuhi kriteria." % umur)

Input Umur :  27

Umur 27 memenuhi kriteria.

- Struktur if & else

In [133]:
umur = int(input("Berapa umur kamu: "))
if umur >= 18:
    print("Kamu boleh membuat SIM")
else:
    print("Kamu belum boleh membuat SIM")

Berapa umur kamu:  16

Kamu belum boleh membuat SIM

In [134]:
umur = int(input("Input Umur : "))

if umur < 30 and umur > 25:
    print("Umur %d memenuhi kriteria." % umur)
else :
    print("Umur %d tidak memenuhi kriteria." % umur)

Input Umur :  27

Umur 27 memenuhi kriteria.

- Struktur if , elif & else

In [146]:
suhu = int(input("suhu sekarang : "))

if suhu < 25 :
    print("suhu dingin")
elif suhu < 30 :
    print("suhu hangat")
elif suhu < 35 :
    print("suhu panas")
elif suhu < 40 :
    print("suhu panas banget")   
else :
    print("suhu panas banget gak ngotak")

suhu sekarang :  34

suhu panas
suhu panas banget

- tanpa menggunakan elif

In [ ]:
suhu = int(input("suhu sekarang : "))

if suhu < 25 :
    print("suhu dingin")
if suhu < 30 :
    print("suhu hangat")
else :
    print("suhu panas")

- Mengunakan operator pembanding

In [147]:
suhu = int(input("suhu sekarang : "))

if suhu < 25 :
    print("suhu dingin")
if suhu >= 25 and suhu < 30 :
    print("suhu hangat")
if suhu >= 30 :
    print("suhu panas")

suhu sekarang :  27

suhu hangat

In [ ]:
# ================ Task ===================
# Buat program untuk menghitung nilai siswa
# 90 - 100 = A
# 80 - 89 = B+
# 70 - 79 = B
# 60 - 69 = C+
# 50 - 59 = C
# 40 - 49 = D
# 0 - 39 = E

In [150]:
nilai = int(input("masukan nilai : "))

if nilai < 40:
    print("grade E")
elif nilai < 50:
    print("grade D")
elif nilai < 60:
    print("grade C")
elif nilai < 70:
    print("grade C+")
elif nilai < 80:
    print("grade B")
elif nilai < 90:
    print("grade B+")
else :
    print("grade A")

masukan nilai :  110

grade A

#### 10.a Perbedaan multiple if statement dan elif statement

- jika multiple `if` statment maka program akan cek **semua if statement** (tidak ada yang terlewatkan) dan bisa jadi semua instruksi bisa dilakukan jika memang memnuhi kondisi semua multiple if statement. 


- Namun jika `elif` statement **tidak semua dicek** (bisa semua/bisa tidak), program akan cek semua kondisi jika program masih belum menemukan yang sesuai, namun **jika ada yang sesuai** maka program akan langsung **keluar dari statement pecabangan**.

### 11. Perulangan mengunakan for

- perulangan pada pemrograman python hanya mengimplementasikan *collection-based iteration*, 
- sehingga sebuah perulangan bisa dilakukan jika kita memiliki **iterable** object di python

```
for <var> in <iterable>:
    <task(s)>

```

- Iterable pada python adalah object dalam bentuk `string`, `list`, `tuple`, `dictionary`, `set`

- contoh bentuk perulangan dari iterator `list`

In [151]:
hari = ["senin", "selasa", "rabu", "kamis", "jumat", "sabtu", "minggu"]

print(type(hari))

for i in hari :
    print ("hari", i)

<class 'list'>
hari senin
hari selasa
hari rabu
hari kamis
hari jumat
hari sabtu
hari minggu

In [157]:
jari_jari = [1, 2, 3, 4, 5, 6, 7, 8]

for r in jari_jari :
    luas_lingkaran = 3.14*r**2
    print ("Jari-jari : %d, Luas : %.2f" % (r, luas_lingkaran))

Jari-jari : 1, Luas : 3.14
Jari-jari : 2, Luas : 12.56
Jari-jari : 3, Luas : 28.26
Jari-jari : 4, Luas : 50.24
Jari-jari : 5, Luas : 78.50
Jari-jari : 6, Luas : 113.04
Jari-jari : 7, Luas : 153.86
Jari-jari : 8, Luas : 200.96

- for didalam for

In [158]:
hari = ["senin", "selasa", "rabu", "kamis", "jumat", "sabtu", "minggu"]

matkul = ["biologi", "matematika"]

for i in hari :
    for j in matkul :
        print(i, j)

senin biologi
senin matematika
selasa biologi
selasa matematika
rabu biologi
rabu matematika
kamis biologi
kamis matematika
jumat biologi
jumat matematika
sabtu biologi
sabtu matematika
minggu biologi
minggu matematika

### 12. Perulangan menggunakan while

- struktur dasar,

```
while <condition>:
    <do something..>
```

In [159]:
i = 0
while i <= 5 :
    print("loop ke-%d" % i)
    i +=1

loop ke-0
loop ke-1
loop ke-2
loop ke-3
loop ke-4
loop ke-5

In [160]:
hari

['senin', 'selasa', 'rabu', 'kamis', 'jumat', 'sabtu', 'minggu']

In [161]:
len(hari)

7

In [162]:
hari = ["senin", "selasa", "rabu", "kamis", "jumat", "sabtu", "minggu"]

i = 0
while i < len(hari):
    print(hari[i])
    i += 1

senin
selasa
rabu
kamis
jumat
sabtu
minggu

### 13. fungsi range() 
- fungsi `range` digunakan untuk menghasilkan *sequence* angka

In [163]:
range(5)

range(0, 5)

In [166]:
A = range(100)

print(type(A))
print(list(A))

<class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [167]:
B = list(A)

print(B, type(B))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99] <class 'list'>

### mengunakan range() pada perulangan for

In [168]:
list(range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [170]:
for i in range(15):
    print ("iterasi ke-%s" % i)

iterasi ke-0
iterasi ke-1
iterasi ke-2
iterasi ke-3
iterasi ke-4
iterasi ke-5
iterasi ke-6
iterasi ke-7
iterasi ke-8
iterasi ke-9
iterasi ke-10
iterasi ke-11
iterasi ke-12
iterasi ke-13
iterasi ke-14

In [171]:
my_list = [0, 1, 2, 3, 4, 5, 6]

for i in my_list:
    print ("iterasi ke-%s" % i)

iterasi ke-0
iterasi ke-1
iterasi ke-2
iterasi ke-3
iterasi ke-4
iterasi ke-5
iterasi ke-6