- Intro to SQL Database 
- Intro to SQL Lite
- SQL Lite Interface in Python
    - Create database
    - Create Table
    - Insert Data
    - Update Data
    - Delete Data

What is SQL?
- SQL stands for Structured Query Language
- SQL lets you access and manipulate databases
- SQL became a standard of the American National Standards Institute (ANSI) in 1986, and of the International Organization for Standardization (ISO) in 1987

What Can SQL do?
- SQL can execute queries against a database
- SQL can retrieve data from a database
- SQL can insert records in a database
- SQL can update records in a database
- SQL can delete records from a database
- SQL can create new databases
- SQL can create new tables in a database
- SQL can create stored procedures in a database
- SQL can create views in a database
- SQL can set permissions on tables, procedures, and views
![](resource/database.png)

What is RDBMS?
- RDBMS stands for Relational Database Management System.
- RDBMS is the basis for SQL, and for all modern database systems such as MS SQL Server, IBM DB2, Oracle, MySQL, and Microsoft Access.
- The data in RDBMS is stored in database objects called tables. A table is a collection of related data entries and it consists of columns and rows.

More info : [https://www.w3schools.com/sql/sql_intro.asp](https://www.w3schools.com/sql/sql_intro.asp)

### SQL Lite

- Download SQL Lite Studio 
    - https://sqlitestudio.pl/

In [2]:
import sqlite3

-  you must first create a Connection object that represents the database. for example `'example.db'`

In [25]:
conn = sqlite3.connect('attendance.db')

- create a Cursor object

In [26]:
c = conn.cursor()

- select data

In [30]:
c.execute(    
    """SELECT Id,
               Name,
               TimeIn,
               TimeOut,
               Date
          FROM daily_attendance;""")

In [31]:
c.fetchall()

[(1, 'Yunus Update 3', '08:30:00', '17:30:00', '19-01-2021')]

- update data

In [29]:
c.execute(    
    """UPDATE daily_attendance
           SET Name = 'Yunus Update 3'
         WHERE Id = 1 ;""")

In [23]:
# Save (commit) the changes
conn.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
conn.close()

- delete data

In [33]:
c.execute(    
    """DELETE FROM daily_attendance
         WHERE Id = 1 ;""")

In [34]:
conn.commit()
conn.close()