___
#### 6. CRUD Database
CRUD (CREATE, READ, UPDATE, DELETE)

#### A. CRUD User

In [4]:
import datetime

In [9]:
from user import User

In [10]:
user = User()

- select user

In [17]:
user.select_user(search='')

[{'Id': 1,
  'Nama': 'Yunus',
  'NIM': 'B01001',
  'JenisKelamin': 'L',
  'Umur': 29,
  'Alamat': 'Bandung',
  'NamaFoto': 'yunus.png',
  'PredictionId': 5},
 {'Id': 2,
  'Nama': 'Collin Powell',
  'NIM': 'XX12123',
  'JenisKelamin': 'L',
  'Umur': 20,
  'Alamat': 'Bekasi',
  'NamaFoto': 'collin.png',
  'PredictionId': 0}]

- add user

In [13]:
user_record = {}
user_record['Nama'] = 'Donald'
user_record['NIM'] = 'ABC0001'
user_record['JenisKelamin'] = 'L'
user_record['Umur'] = '22'
user_record['Alamat'] = 'Jakarta'
user_record['NamaFoto'] = 'donald.png'
user_record['PredictionId'] = 1

user.create_user(user_record)

'sucess'

- update user

In [15]:
user_record = {}
user_record['Id'] = 4
user_record['Nama'] = 'Donald Rumsfield'
user_record['NIM'] = 'ABC0001'
user_record['JenisKelamin'] = 'L'
user_record['Umur'] = '22'
user_record['Alamat'] = 'Jakarta'
user_record['NamaFoto'] = 'donald.png'
user_record['PredictionId'] = 1

user.update_user(user_record)

'sucess'

- delete user

In [16]:
user.delete_user(4)

'success'

____
#### B. CRUD Kehadiran

In [1]:
from kehadiran import Kehadiran

In [2]:
kehadiran = Kehadiran()

In [3]:
kehadiran.select_kehadiran(search='')

[{'Id': 1,
  'UserId': '1',
  'JamMasuk': '08:00:30',
  'NamaKelas': 'Biologi 101',
  'JamKelasMulai': '08:00:30',
  'JamKelasBerakhir': '09:30:00',
  'Status': 'Selesai',
  'Date': '2020-01-26'},
 {'Id': 6,
  'UserId': 1,
  'JamMasuk': '08:45:00',
  'NamaKelas': 'Matematika 100',
  'JamKelasMulai': '08:30:00',
  'JamKelasBerakhir': '09:30:00',
  'Status': 'Selesai',
  'Date': '2020-01-27'}]

- insert kehadiran

In [21]:
kehadiran_record = {}
kehadiran_record['UserId'] = 1
kehadiran_record['JamMasuk'] = '08:45:00'
kehadiran_record['NamaKelas'] = 'Matematika 100'
kehadiran_record['JamKelasMulai'] = '08:30:00'
kehadiran_record['JamKelasBerakhir'] = '09:30:00'
kehadiran_record['Status'] = 'Selesai'
kehadiran_record['Date'] = '2020-01-27'

kehadiran.create_kehadiran(kehadiran_record)

'sucess'

- delete kehadiran

In [23]:
kehadiran.delete_kehadiran(5)

'success'

- insert kehadiran (tanggal dinamis)

In [7]:
curr_date = datetime.datetime.now().strftime("%Y-%m-%d")
print(curr_date)

kehadiran_record = {}
kehadiran_record['UserId'] = 1
kehadiran_record['JamMasuk'] = '08:45:00'
kehadiran_record['NamaKelas'] = 'Matematika 100'
kehadiran_record['JamKelasMulai'] = '08:30:00'
kehadiran_record['JamKelasBerakhir'] = '09:30:00'
kehadiran_record['Status'] = 'Selesai'
kehadiran_record['Date'] = curr_date

kehadiran.create_kehadiran(kehadiran_record)

2021-01-28

'sucess'

In [13]:
user.get_user_in_class(curr_date, "Matematika 100")

[{'Nama': 'Yunus',
  'NIM': 'B01001',
  'JenisKelamin': 'L',
  'NamaFoto': 'yunus.png',
  'JamMasuk': '08:45:00'}]